._main{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh
}

.button_animate{
  color:blue;
  background-color:brown;
  display:flex;
  align-items: center;
  justify-content: center;
  transition:0.5s;
}

.button_animate:hover{
  color:black;
  background-color: red;
  transform: translateY(-5px);
}



@keyframes left_to_right {
  from{
    transform: translate(-100px, 0px);
  }
  to{
     transform: translate(0px, -100px);
  }
}

.slide_left{
  color:orange;
  font:bold;
  animation:left_to_right 1s forwards;
} 

.forward_mode{
  animation-fill-mode:both
}

.backward_mode{
  animation-fill-mode: backwards;
}